<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>StageHub</title>
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
</head>

<body>
  <div class="background--custom">
    <canvas id="canvas"></canvas>
  </div>
  <script src="../assets/js/background.js"></script>
  <script>
    var gradient = new Gradient();
    gradient.initGradient("#canvas");
  </script>

    <img alt="StageHub logo" class="col-1 mx-auto mt-3 mb-4 d-block" onclick="document.location='Principal_page.html'" id="logo-header"
      src="../assets/img/logo_white_alpha.png">
    <div class="col-3 mx-auto d-block">
      <div class="testbox-login text-center mx-auto">
        <h1 class="text-center mt-3">Login</h1>
        <form method="post" action="login.php" class="mx-auto d-block">
          <hr class="mx-5 mb-4">
          <input class="text_case mb-2 pt-1 pb-1 px-1" type="email" name="Email" id="email" placeholder="Email" required />
          <input class="text_case mb-4 pt-1 pb-1 px-1" type="password_1" name="password" id="password" placeholder="Password" required />
          <div class="mx-auto">
            <input type="submit" href="index.html" class="button-login text-center px-5 mx-auto mb-3" value="Login">
          </div>
        </form>
        <div class="mb-4">
          <a href='Register_page.html' class="button-toregister">
            or Register
          </a>
        </div>
      </div>
    </div>
    <footer>
      <div class="Term-of-use-link">
        <a onclick="document.location='Terms_of_use.html'" type="button">Term of use</a>
      </div>
    </footer>
  </body>

</html>