<!DOCTYPE html>
<html lang="fr">

<head>
  <title>StageHub - Terms of Use</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>

<body>
  <div class="background--custom">
    <canvas id="canvas"></canvas>
  </div>
  <script src="/assets/js/background.js"></script>
  <script>
    var gradient = new Gradient();
    gradient.initGradient("#canvas");
  </script>
  <div class="mx-5">
    <img onclick="history.back()" class="mx-5 mt-5" id="back_arrow" src="/assets/img/fleche.png"
      alt="Back to previous page">
    <img class="col-1 mx-auto mt-4 mb-3 d-block" id="logo" src="/assets/img/logo_white_alpha.png" alt="Logo">
  </div>
  <div class="container col-5 px-5 py-2 mb-5">
    <h3 class="text-center mt-xl-3">Terms of use</h3>
    <p class="condition_utilisation mt-3 mb-3">
      The present general conditions of use (known as "CGU") are intended to provide a legal framework for
      terms of provision of the site and services by (indicate the name of the site) and to define the
      conditions of access and use of the services by the "User".
      These T&Cs are accessible on the site under the "T&Cs" section.
      The T&Cs must be accepted by any User wishing to access the site. They constitute the contract
      between the site and the User. Access to the site by the User signifies his acceptance of these T&Cs. He
      henceforth undertakes to respect these conditions.
      Or if the site includes a member area:
      Any registration or use of the site implies acceptance without any reservation or restriction of these
      CGU by the user. When registering on the site via the Registration Form, each user
      expressly accepts these T&Cs by checking the box preceding the following text: "I acknowledge having
      read and understood the T&Cs and I accept them”.
      In the event of non-acceptance of the T&Cs stipulated in this contract, the User must waive
      access to the services offered by the site.
      (indicate the name of the site) reserves the right to modify unilaterally and at any time the content of the
      these T&Cs.
      <br> <br> <br>
      <u>ARTICLE 1: Legal notices</u>
      <br><br>
      If the edition of the site is provided by a legal entity:
      The edition of the site (indicate the name of the site) is provided by the Company (indicate the name of the company and the form
      company) with the capital of (indicate the amount), registered with the RCS of (indicate the city) under the number
      (indicate the SIREN) whose head office is located at (indicate the address), (indicate the telephone number),
      (indicate the email address).
      Intra-community VAT number: (indicate the number)
      The Director of publication is (indicate the name).
      If the edition of the site is provided by a natural person:
      The edition and the direction of the publication of the site (indicate the name of the site) is ensured by (Madame or
      Sir, indicate full identity), domiciled (indicate address), (telephone number), (address
      email), (if the natural person is subject to it, indicate the registration number in the register
      trade and companies or in the directory of trades)
      If applicable: Intra-community VAT number: (indicate the number)
      The host of the site (indicate the name of the site) is the Company (indicate the name of the company and the corporate form),
      with a capital of (indicate the amount), registered with the RCS of (indicate the city) under the number (indicate the
      SIREN), whose head office is located at (indicate the address), (indicate the telephone number), (indicate
      email address).<br> <br> <br>
      <u>ARTICLE 2: Access to the site</u> <br> <br>
      The site (indicate the name of the site) allows the User free access to the following services:
      - (Detail the services)
      - …
      The site is accessible free of charge anywhere to any User with Internet access. Every expense
      supported by the User to access the service (hardware, software, Internet connection, etc.)
      are in his charge.
      If the site includes a member area:
      The non-member User does not have access to the reserved services. For this, he must register by completing the
      form. By agreeing to register for the reserved services, the Member User undertakes to provide
      sincere and accurate information concerning his marital status and his contact details, in particular his email address.
      The User is responsible for updating the information provided. It is specified to him that he can
      change by logging into their member area.
      To access the services, the User must identify himself using his username and password.
      password which will be communicated to him after his registration and which are strictly personal. As such, he
      prohibits any disclosure. Otherwise, he will remain solely responsible for the use that will be made of it.
      The User may also request his unsubscription by going to the dedicated page on his space.
      personal or by sending an email to: (specify the address). This will be effective within a reasonable time.
      In the event of non-compliance with the general conditions of sale and/or use, the site (indicate the name of the site)
      will be able to suspend or even close a User's account after formal notice has been sent
      electronically and had no effect.
      Any deletion of an account, for whatever reason, results in the pure and simple deletion of all
      personal information of the User.
      Any event due to a case of force majeure resulting in a malfunction of the site or
      server and subject to any interruption or modification in the event of maintenance, does not commit the
      responsibility of (indicate the name of the site). In these cases, the User thus accepts not to hold strict
      the publisher of any interruption or suspension of service, even without notice.
      The User has the possibility of contacting the site by electronic mail at the publisher's email address.
      communicated in ARTICLE 1.
      <br> <br> <br>
      <u>ARTICLE 3: Personal data</u>
      <br> <br>
      In the absence of collection of personal data:
      The site is exempt from declaration to the Commission Nationale Informatique et Libertés (CNIL) in the
      as it does not collect any user data.
      Or in case of collection of personal data:
      The site provides the User with the collection and processing of personal information in respect of the life
      private in accordance with law n ° 78-17 of January 6, 1978 relating to data processing, files and freedoms.
      The site is declared to the CNIL under the number (indicate the declaration number).
      Under the Data Protection Act, dated January 6, 1978, the User has a right of access,
      rectification, deletion and opposition of their personal data. The User exercises this right:
      • by e-mail to (indicate the address)
      • by post (indicate name and address)
      Optionally you can add:
      • via a contact form;
      • via his personal space;
      <br> <br> <br>
      <u>ARTICLE 4: Intellectual Property</u>
      <br><br>
      The trademarks, logos, signs as well as all the content of the site (texts, images, sound, etc.) are subject to
      protection by the Intellectual Property Code and more particularly by copyright.
      If your trademark is protected, add:
      The (state brand name) trademark is a registered trademark of (your name). Any representation
      and/or reproduction and/or partial or total exploitation of this mark, of any nature whatsoever, is
      totally prohibited.
      The User must seek the prior authorization of the site for any reproduction, publication, copy of
      different content. He undertakes to use the contents of the site in a strictly private context, any
      use for commercial and advertising purposes is strictly prohibited.
      Any total or partial representation of this site by any process whatsoever, without the express authorization
      of the operator of the website would constitute an infringement punishable by article L 335-2 and following of the
      Intellectual Property Code.
      It is reminded in accordance with article L122-5 of the Intellectual Property Code that the User who
      reproduces, copies or publishes the protected content must cite the author and its source.
      <br> <br> <br>
      <u>ARTICLE 5: Liability</u>
      <br> <br>
      The sources of the information disseminated on the site (indicate the name of the site) are deemed reliable but the site
      does not warrant that it is free from defects, errors or omissions.
      The information provided is presented for information and general purposes without contractual value. Despite
      regular updates, the site (indicate the name of the site) cannot be held responsible for the modification
      administrative and legal provisions arising after publication. Likewise, the site cannot be
      responsible for the use and interpretation of the information contained on this site.
      If the site includes a member area:
      The User makes sure to keep his password secret. Any disclosure of the password, regardless of its
      form, is prohibited. He assumes the risks associated with the use of his username and password. The website
      declines
      any liability.
      The site (indicate the name of the site) cannot be held responsible for any viruses that could infect
      the computer or any computer equipment of the Internet user, following use, access, or
      download from this site.
      The site cannot be held liable in the event of force majeure or unforeseeable and
      insurmountable by a third.
      <br> <br> <br>
      <u>ARTICLE 6: Hypertext links</u>
      <br><br>
      Hypertext links may be present on the site. The User is informed that by clicking on these links,
      it will leave the site (indicate the name of the site). The latter has no control over the web pages on which
      lead to these links and can not, in any case, be responsible for their content.
      <br> <br> <br>
      <u>ARTICLE 7: Cookies</u>
      <br><br>
      The User is informed that during his visits to the site, a cookie may be automatically installed on his
      browser software.
      Cookies are small files temporarily stored on the hard drive of the User's computer.
      by your browser and which are necessary for the use of the site (Indicate the name of the site). Cookies do not
      contain no personal information and cannot be used to identify anyone. One
      cookie contains a unique, randomly generated and therefore anonymous identifier. Some cookies expire on
      end of the User's visit, others remain.
      The information contained in the cookies is used to improve the site, for example by:
      • allowing a service to recognize the User's device, so that it does not have to give the same
      information repeatedly, such as filling out a form or a survey.
      • remembering that you, the User, have already given their username and password, so as not to have to do it again
      on each new page.
      • monitoring how users use the services, to make them easier to use and
      allocate enough power to ensure responsiveness.
      • analyzing “anonymized” data to help understand how users interact
      with the different aspects of the online services and therefore allow them to be improved.
      By browsing the site, the User accepts them. (It will be necessary to determine with the editor or the host
      the possibility of recovering the consent or in any case of informing the User, through a
      banner at the opening of the site).
      In the absence of acceptance, the User is informed that certain functionalities or pages may be
      refused.
      The User may deactivate this cookie via the parameters appearing in his software.
      navigation.
      Possibly in the case of publications authorized by the User
      <br> <br> <br>
      <u>ARTICLE 8: Publication by the User</u>
      <br><br>
      The site allows members to publish (indicate the nature of the publications: personal works,
      comments under articles…).
      In his publications, the member undertakes to respect the rules of Netiquette (rules of good conduct
      of the Internet) and the rules of law in force.
      The site may exercise moderation on the publications and reserves the right to refuse to put them online,
      without having to justify it to the member.
      The member remains the owner of all his intellectual property rights. But by posting a
      publication on the site, he transfers to the publishing company the non-exclusive and free right to represent,
      reproduce,
      adapt, modify, broadcast and distribute its publication, directly or through an authorized third party, in the world
      whole, on any medium (digital or physical), for the duration of the intellectual property. Member
      in particular assigns the right to use its publication on the Internet and on mobile telephone networks.
      The publishing company undertakes to include the member's name near each use of its
      publication.
      Any content posted by the User is his sole responsibility. The User agrees not to
      upload content that may harm the interests of third parties. Any legal action
      incurred by an injured third party against the site will be borne by the User.
      The User's content may be at any time and for any reason deleted or modified by
      the site without notice.
      <br> <br> <br>
      <u>ARTICLE 9: Applicable law and competent jurisdiction</u>
      <br><br>
      French law applies to this contract. In the absence of an amicable resolution of a dispute arising
      between the parties, the French courts will have sole jurisdiction to hear them.
      For any question relating to the application of these T&Cs, you can contact the publisher at
      contact details listed in ARTICLE
    </p>
  </div>
</body>

</html>