<!DOCTYPE html>
<html lang="en">

<head>
  <title>StageHub - Terms of Use</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
</head>

<body>
  <div class="background--custom">
    <canvas id="canvas"></canvas>
  </div>
  <script src="../assets/js/background.js"></script>
  <script>
    var gradient = new Gradient();
    gradient.initGradient("#canvas");
  </script>
  <div class="mx-5">
    <img onclick="history.back()" class="mx-5 mt-5" id="back_arrow" src="../assets/img/fleche.png"
      alt="Back to previous page">
    <img class="col-1 mx-auto mt-4 mb-3 d-block" id="logo" src="../assets/img/logo_white_alpha.png" alt="Logo">
  </div>

  <div class="col-auto mx-auto mt-5">
    <div class="main-body col-12">
      <div class="search">
        <hr class="separate mx-auto pt-1 mb-4 mt-3 col-10">
        <form class="form text-center col-8 mx-auto mt-0">
          <div class="Your_active_post text-center fs-4">
            - Your company update -
          </div>
        </form>
        <hr class="separate mx-auto pt-1 col-9 mb-3 mt-4">
      </div>

      <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
          <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="mt-5" width="150" src="../assets/img/cesi_logo.jpg" alt="Logo entreprise">
            </div>
          </div>
          <div class="col-md-5 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Profile Settings</h4>
              </div>
              <div class="row mt-2">
                <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                    placeholder="enter your name" value=""></div>
                <div class="form-group mt-3">
                  <label class="mr-2">Upload picture</label>
                </div>
                <input class="form-control" type="file" name="file">
              </div>
              <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Activity sector</label><input type="text"
                    class="form-control" placeholder="enter your activity sector" value=""></div>
                <div class="col-md-12"><label class="labels">Location</label><input type="text" class="form-control"
                    placeholder="enter your location" value=""></div>
              </div>
              <input type="submit" onclick="document.location='Profile_company_update.html'"
                class="button-register px-4 mx-auto mt-5 mb-3" value="Save">
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="col-12">
    <div class="Term-of-use-link text-center">
      <div class="copyright text-center p-3">
        © 2022 - StageHub /
        <a href="Terms_of_use.html">Terms of use</a>
      </div>
    </div>
  </footer>
</body>

</html>