<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>StageHub</title>
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
</head>

<body>
  <div class="background--custom">
    <canvas id="canvas"></canvas>
  </div>
  <script src="../assets/js/background.js"></script>
  <script>
    var gradient = new Gradient();
    gradient.initGradient("#canvas");
  </script>

    <img alt="StageHub logo" class="col-1 mx-auto mt-3 mb-4 d-block" onclick="document.location='Principal_page.html'" id="logo-header"
         src="../assets/img/logo_white_alpha.png" href="Principal_page.html">
    <div class="col-3 mx-auto d-block">
      <div class="testbox-register text-center mx-auto">
        <h1 class="mt-3">Registration</h1>
        <form method="post" action="register.php" class="mx-auto d-block">
          <hr class="mx-5 mb-4">
          <div class="accounttype">
            <input type="radio" value="Personal" id="radioOne" name="account" checked>
            <label for="radioOne" class="radio">Personal</label>
            <input type="radio" value="Company" id="radioTwo" name="account">
            <label for="radioTwo" class="radio">Company</label>
          </div>
          <div>
            <input class="text_case mb-2 pt-1 pb-1 px-1" type="email" name="Email" id="email" placeholder="Email" required>
            <input class="text_case mb-2 pt-1 pb-1 px-1" type="name" name="Name" id="name" placeholder="Name" required>
            <input class="text_case mb-2 pt-1 pb-1 px-1" type="password" name="Password" id="password" placeholder="Password" required>
            <input class="text_case mb-4 pt-1 pb-1 px-1" type="password" name="PasswordConfirm" id="password_confirm" placeholder="Confirm password" required>
          </div>
          <div class="gender">
            <input type="radio" value="Male" id="male" name="gender" checked>
            <label for="male" class="radio">Male</label>
            <input type="radio" value="Female" id="female" name="gender">
            <label for="female" class="radio">Female</label>
          </div>
          <p class="fs-sm-6 mx-3">By clicking Register, you agree on our terms and condition.</p>
          <input type="submit" href="index.html" class="button-register px-4 mx-auto mb-3" value="Register">
        </form>
        <div class="mb-4">
          <a href='Login_page.html' class="button-toLogin">
            or Login
          </a>
        </div>
      </div>
    </div>
    <footer>
      <div class="Term-of-use-link text-center">
        <a onclick="document.location='Terms_of_use.html'" type="button">Term of use</a>
      </div>
      <div class="copyright text-center p-3">
        © 2022 - StageHub
      </div>
    </footer>
  </body>

</html>