<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>StageHub</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <div class="background--custom">
    <canvas id="canvas"></canvas>
  </div>
  <script src="../assets/js/background.js"></script>
  <script>
    var gradient = new Gradient();
    gradient.initGradient("#canvas");
  </script>
  <div id="header">
    <img alt="StageHub logo" class="col-2 mx-5 mt-2 mb-3" id="logo" src="../assets/img/logo_white_alpha.png">
    <button class="profile float-end mx-lg-5 mt-5 fs-5" type="button">
      PROFILE
    </button>
  </div>
  <div id="contenu">
    <div class="search">
      <div class="separator"></div>
      <form class="form text-center col-8 mx-auto mt-0">
        <input class="text_case col-5 pt-1 pb-1 fs-6 form-search" type="text" placeholder="Type of internship...">
        <input class="text_case col-4 pt-1 pb-1 fs-6 form-location" type="text" placeholder="Location...">
        <button type="submit" class="button-search pt-1">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Search
        </button>
      </form>
    </div>
  </div>
  <div class="separator2"></div>
</body>

</html>